.list {
  width: 1000px;
  min-height: 600px;
  margin: 0 auto;
}
.list-item {
  display: flex;
  width: 100%;
  height: 134px;
  background-color: white;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(245, 107, 42, 0.1);
}

.list-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 0 0 4px;
}

.list-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detail {
  padding: 20px auto;
}

.title {
  margin-left: 20px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-transform: inherit;
}
.price {
  margin-left: 20px;
  font-size: 18px;
  line-height: 23px;
  color: #f56b2a;
}
.date {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}
