.payment-form {
  width: 260px;
}

.btn-payment {
  margin: 20px auto;
  width: 200px;
  height: 40px;
  overflow: none;
  border: none;
  background-color: #f56b2a;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
}

.btn-payment:hover {
  background-color: #c25a31;
  box-shadow: 0 0 10px rgba(109, 109, 109, 0.2);
  transition: 0.3s;
}
