.search {
  height: 160px;
  width: 100%;
}
.background-search {
  background-color: #f56b2a;
  width: 100%;
  height: 60px;
}

.search-bar {
  height: 100px;
  width: 810px;
  margin: -30px auto 0 auto;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(245, 107, 42, 0.2);
}
