html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
}

.loading {
  width: 80%;
  height: 200px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.main-offers {
  min-height: 600px;
}

.container-signup {
  width: 600px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-signup h2 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
hr {
  width: 80%;
  height: 2px;
  background-color: #f56b2a;
  border: none;
}
.form-signup {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
  height: 250px;
}
.form-signup label {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  padding-bottom: 15px;
}

.form-signup input {
  font-size: 14px;
  height: 35px;
  border: 1px solid #d9e0eb;
  border-radius: 5px;
}

.form-submit {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  height: 40px;
  border-radius: 5px;
  background-color: #4183d7;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
}

.form-submit:hover {
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.2);
  background-color: #336699;
  transition: 0.3s;
}
.wrapper-signup {
  border-top: 1px solid rgba(215, 215, 215, 0.6);
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.wrapper-signup span {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.wrapper-signup-button {
  font-weight: bold;
  font-size: 14px;
  width: 80%;
  height: 40px;
  border: solid 1px #4183d7;
  border-radius: 5px;
  background-color: white;
  color: #4183d7;
  margin-bottom: 15px;
}
.wrapper-signup-button:hover {
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.2);
  background-color: #eaeff4;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #4183d7;
}

.signup-container {
  width: 1024px;
  height: 80vh;
  margin: 20px auto;
  display: flex;
}
.wrapper-signup-information {
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
  height: 500px;
  width: 100%;
}
/* signup formulaire */
.signup-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
}

.form-signup-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  width: 90%;
  border-bottom: 2px solid #f56b2a;
  height: 40px;
}
.form-signup-2 {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 90%;
}

.form-signup-2 label {
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
}

.form-signup-2 input {
  font-size: 14px;
  height: 35px;
  border: 1px solid #d9e0eb;
  border-radius: 5px;
}

.wrapper-password {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.wrapper-password input {
  width: 220px;
  margin-right: 10px;
  margin-top: 15px;
}
.wrapper-password > label {
  margin: 20px 0;
}
.signup-button {
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  background-color: #4183d7;
  color: #ffffff;
}

.signup-button:hover {
  box-shadow: 0 0 10px rgba(7, 7, 7, 0.2);
  background-color: #336699;
  transition: 0.3s;
}
.condition {
  font-size: 12px;
}
.condition span {
  color: #4183d7;
}
.checkbox {
  padding-top: 20px;
  width: 20px;
  border: 1px solid #f56b2a;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: rgb(63, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
input {
  padding-left: 10px;
}
textarea {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 14px;
}
button {
  cursor: pointer;
}
